#displayedVideoBlack {
    width: 100vw;
    height: 100vh;
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
}
.imgSplash {
    width: 60pt;
    margin-top: 17px;
}
#displayedVideoSplash {
    max-width: 700pt;

}

.button1 {
    margin-left: 500px;
    margin-top: -200px;
}
#firstBTN {
    margin-left: 1059px;
    margin-top: 63px;
}
#firstBTNSleepy {
}

#secondBTNSleepy {
}

#secondBTN {
    margin-left: 1222px;
    margin-top: 49px;
}


.button2 {
    margin-left: 400px;
    margin-top: -100px;
}
.blueBTN {
    color: #5C8DE2;
}
.pinkBTN {
    color: #EF86F2;
}
.purpleBTN {
    color: #A961E3;
}
.greenBTN {
    color: #6CE271;
}
.whiteBTN {
    color: #FFFFFF;
}
.yellowBTN {
    color: #EAD356;
}
.train {
    margin-top: -35px;
    width: 1100pt;
    height: 600pt;
}
.centered_text {
    margin-top: 10vh;
    position: relative;
	text-align: center;
	justify-content: center;
}
#truism {
    color: #AAAAAA;
    background-color: #000000;
    border: thin solid #000000;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    cursor: default;
}
.trainCPTN {
    border-width: thick;
    border-color: #000000;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: xx-large;
    font-style: italic;
}
.blackBTNs {
	margin-top: 50vh;
    position: relative;
	text-align: center;
	justify-content: center;
}
#displayedVideoMonster {
    width: 1000pt;

}
#firstBTNMonster   {

}
#secondBTNMonster {
}



#displayedVideoPlane {
    margin-left: 410px;
    margin-top: -129px;
}
#thirdBTNMonster {
}

#displayedVideoSleepy {
    margin-left: 637px;
    margin-top: 234px;
    max-width: 192pt;
}
#displayedVideoTrees {
    max-width: 200pt;
    margin-left: 274px;
    margin-top: 76px;
}
#nothing {
    margin-left: 873px;
    margin-top: 233px;
}

#treesPage {
    background-color: #728673;
}
#running {
    margin-left: 79px;
}

#DIVforButtonsM {
    margin-top: -550px;
    margin-left: 1376px;

}
#sleepyVid {
    width: 817pt;
    height: auto;
}
#txtMonster {
    color: #FFFFFF;
}
#monsterPage {
    background-color: #000000;
}
#ok {
    color: #FF0004;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    text-align: left;
    margin-left: 38px;
}
#okPage {
    background-color: #000000;
}
#morningText {
    text-align: right;
    font-size: xx-large;
    font-weight: 900;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #EAC476;
    margin-top: 722px;
    margin-right: 37px;
}
