@charset "utf-8";
.text1 {
    text-decoration: none;
    margin-left: 650px;



}
.text2 {
    margin-left: 625px;
}
.opButton {
    display: flex;
    margin-left: 50px;
}
.firstButton {
    margin-left: 550px;
}

.sidebyside {
    display: flex;
    width: 200pt;
    max-width: 200pt;
}
.button1 {
}
.button2 {
}
.splash2BTN1 {
    display: flex;
    margin-left: 600px;
    margin-top: 300px;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: small;
    text-align: center;
}
.DIVforButtons {
    display: flex;
    text-align: center;
    width: auto;
}

.splash2BTN2 {
    display: flex;
    margin-left: 250px;
    margin-top: 300px;
    width: auto;
}
#splashPage {
    background-color: #BAF0F2;
}
#surePage {
    background-color: #B2B2B2;
}


#DIVforButtons {
    text-align: center;
}
#sureText {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #476DD6;
    text-align: center;
    margin-top: 230px;
    font-weight: 900;
    font-size: xx-large;
}
